@use '../abstracts';

.hero {
    // border: 2px solid green;
    background-color: abstracts.$background-gray;
    background-color: abstracts.$background-main;
    background-color: #000;
    position: relative;

    color: abstracts.$text-light;

    height: 95vh;
    padding: 7vh 5vw 1rem;
    
    overflow: hidden;
    isolation: isolate;
    text-align: center;

    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    // gap: 5vh;
        // grid-template-columns: 1fr;
        
        // grid-template-areas: 'image-1 image-2' 
        //                         ' content content ';

    @include abstracts.md {
        // height: 90vh;
        // padding: 10vh 5vw 5vh;
        // // padding: 10vh 5vw 5vh;
        // // border: 2px solid red;/
        // display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ; 
        // background-color: abstracts.$background-main;

        // // column-gap: 1rem;
        // // align-items: center;
        // // grid-template-areas: 'image-1 . image-2'
        // //                         'image-1 content image-2';
        // grid-template-areas: 'image-1 image-2'
        //                         ' content content ';
                                
        // grid-template-areas: 'image-1 image-2'
        //                         ' content content ';
    }

    @include abstracts.xlg {
        // padding: 15vh 0;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-columns: 25% auto 25%;
        // grid-template-columns: auto 50% auto;
        // grid-template-areas: 'image-1 content image-2'
        //                         'image-1 content image-2 ';
    } 


}


.hero-img {
    border: 1px solid hsla(0, 0%, 100%, 0.533);
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.25);

    img {
        height: 100%;
        width: 100%;
        // max-width: 500px;
        margin-inline: auto;
        object-fit: cover;
        object-position: center ;
    }

    @include abstracts.lg {
        box-shadow: none;
        border: none;
        border-radius: 0.25rem;
        // height: 400px;
        max-height: 500px;
        
    }

}


.hero-content {
    // grid-area: content;
    // background-color: abstracts.$background-main;
    // padding: 5vh 5vw 5vh;
    // text-align: center;
    // overflow: hidden;
    // margin-top: 5vh;
    // border: 1px solid #f4f4f4;
    // border-radius: .25rem;

    @include abstracts.md {
        top: unset;
    }
    
    .hero-title {
        background-color: abstracts.$background-main-dark;
        background-color: #fff1;
        border: 1px solid hsla(39, 100%, 50%, 0.250);
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.150);
        // box-shadow: 0 0.5rem 1rem #fff2;


        @include abstracts.md {
            padding: 1rem;
            box-shadow: none;
            background-color: transparent;
        }
        

        h1 {
            text-transform: capitalize;
            font-size: abstracts.$font-clamp-lg;
            margin-bottom: 0rem;

            span {
                color: abstracts.$span-crimson;
            }

            
        }
    
        h2 {
            margin-bottom: 0.25rem;
            &::first-letter {
                text-transform: capitalize;
            }

            // color: abstracts.$overlay-blue-light;
            font-size: abstracts.$font-clamp-md;
            font-weight: 500;
        }

    }

    p {
        margin: 0.5rem 0 0;
        position: relative;
        color: abstracts.$text-lighter;
        
        a {
            color: abstracts.$text-dark;
            transition: .2s;
            &:hover {
                color: abstracts.$text-brand;
                text-decoration: none;
            }
        }

        

    }

}



.btn-main {
    // border: 1px solid yellow;
    display: block;
    color: abstracts.$text-light;
    position: relative;
    // color: #C3A356;
    // background: abstracts.$cta-btn;
    // background: #c3a356;
    background: blue;
    background: #000;
    // background: conic-gradient(red , blue, red, blue);
    // background: linear-gradient(hsl(17, 63%, 59%), #D15F33);
    
    width: max-content;
    padding: 0.5rem 2rem;
    margin: 1rem 0 0;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
    
    font-size: abstracts.$font-clamp-sm;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
    letter-spacing: .15rem;
    isolation: isolate;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        border-radius: inherit;
        // width: 200%; 
//   height: 200%;
//   top: -50%;
//   left: -50%;
  background-color: #000;
  inset: 1px;
  z-index: -1; /* Positions the background behind the button content */
    }

    &::after {
        content: '';
        position: absolute;
        border-radius: inherit;
        width: 200%; 
  height: 200%;
  top: -50%;
  left: -50%;
//   opacity: .5;
  /* Conic gradient for a sweeping effect */
  filter: blur(2rem);
  background: conic-gradient(from 0deg, transparent, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background: conic-gradient(from 0deg, transparent, #ff0000, #ff7300, #fffb00);
  animation: rotate-gradient 2500ms linear infinite; /* Applies the rotation animation */
  transition: 250ms;
  z-index: -2; /* Positions the background behind the button content */
    }

        @keyframes rotate-gradient {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
                /* Rotates the background infinitely */
            }
        }
    

    &:hover, &:focus {
    // color: abstracts.$text-brand;

    &::after {
        // filter: blur(2rem);
        opacity: 0;
    }

    &::before {
        background: #111;
    }

}

}

